*{
  @media(max-width:1000px){
    .post-container{
      width:47% !important;
    }
  }
  @media (max-width:600px) {
    .post-container{
      width:100% !important;
    }
  }
}body{
    background-color: whitesmoke;
}.App{
  /* @media(max-width:1000px){
    .post-container{
      width:47% !important;
    }
  }
  @media (max-width:600px) {
    .post-container{
      width:100% !important;
    }
  } */
}.Tab-List{
    list-style-type: none;
    text-align: center;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    padding: 20px;
}.react-tabs__tab--selected{
    border-bottom: 2px solid #7096ff;
}.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}
