body {
  padding: 20px;
  background-color: whitesmoke;
  font-family: sans-serif;
  margin: 0;
  font-weight: lighter;
  box-sizing: border-box;
  justify-content: space-between;
}
.App {
  display: flex;
}
.card {
  padding: 25px;
  align-items: center;
  border-radius: 12px;
  background-color: white;
  width: 15%;
  margin: 15px 2.5%;
}
h2 {
  font-weight: 300;
}
.btn {
  padding: 0.5rem 1.5rem;
  width: 100%;
  border-radius: 5px;
  color: #7096ff;
  border: 1px solid #7096ff;
  background-color: white;
}
.Domain-name {
  text-align: center;
  padding: 10px;
}
.Price-container {
  text-align: center;
  font-weight: bold;
}
.Price-instead {
  text-align: center;
  padding: 15px;
  color: grey;
}
.Tab-List {
  list-style-type: none;
  display: flex;
  text-align: center;

  width: 100%;
}
.one,
.two,
.three,
.four,
.five,
.six,
.seven,
.eight {
  padding-left: 20px;
  padding-right: 20px;
}
.Container {
  display: flex;
  flex-wrap: wrap;
}